.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

::ng-deep .mat-mdc-text-field-wrapper{
    background-color: white!important;
}

.search-input {
    border-radius: 15px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0.5px solid gray;
    padding-left: 15px;
}

