
<div class="wrapper">
    <app-searchbar  (addUser)="openDrawer()" (searchOutput)="getInput($event)"></app-searchbar>
    <mat-paginator 
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="pageSize"
        [length]="total"
        (page)="onPageEvent($event)"
        showFirstLastButtons
        aria-label="Select page of user list">
    </mat-paginator>
    <app-table
        [dataSource]="ELEMENT_DATA"
        (deleteEvent)="deleteUser($event)"
        (editEvent)="editUser($event)"
    ></app-table>
</div>